header {
	background-color: #194277;
	text-align: center;
}

.sizer {
	width: 1180px;
	clear: both;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

header span {
	display: inline-block;
	margin-bottom: 28px;
	margin-top: 32px;
	margin-right: 51px;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 36px;
	text-align: center;
}

form {
	display: inline;
}

.cookie {
	width: 120px;
	height: 30px;
	margin-bottom: 28px;
	margin-top: 32px;
	background-color: #ffffff;
	border: none;
	border-radius: 15px;
	color: #194277;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 700;
	line-height: 16.36px;
	letter-spacing: 0.55px;
	text-transform: none;
	text-align: center;
}

.first_part {
	background-color: #367cfe;
	background-image: url("../img//back_1.png");
	background-repeat: no-repeat;
}

.Menu {
	float: right;
	margin-top: 35px;
}

.Profile {
	margin-top: 25px;
	margin-bottom: 50px;
}

figure {
	text-align: center;
}

.description {
	text-align: center;
}

h1 {
	padding-left: 150px;
	padding-right: 150px;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 50px;
	font-weight: 900; /*To replace avocode Lato-Black */
	line-height: 60px;
	letter-spacing: 1.25px;
	text-transform: uppercase;
	text-align: center;
}

.Lorem {
	padding-left: 200px;
	padding-right: 200px;
	margin-top: 42px;
	color: #ffffff;
	font-family: Lato;
	font-size: 16px;
	font-weight: 300;
	line-height: 35px;
	letter-spacing: 0.4px;
	text-transform: uppercase;

}

.hire_me {
	width: 204px;
	height: 55px;
	margin-top: 96px;
	margin-bottom: 96px;
	border-radius: 28px;
	background-color: #ffffff;
	border: none;
	color: #3695ff;
	font-family: Lato;
	font-size: 16px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 0.4px;
	text-transform: uppercase;
	text-align: center;

}

.arrow {
	margin-bottom: 20px;
}

.second_part h2 {
	margin-bottom: 35px;
}

.second_part p {
	margin-bottom: 100px;
	color: #5a5a5a;
	font-family: 'Lato';
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	line-height: 35px;
}

.expert {
	background-color: #f1f8ff;
}

h2 {
	padding-bottom: 70px;
	padding-top: 70px;
	color: #3677fd;
	font-family: 'Lato', sans-serif;
	font-size: 50px;
	font-weight: 300;
	line-height: 35.12px;
	text-align: center;
}

.Skills_and_works {
	display: inline-block;
	vertical-align: middle;
	width: 360px;
	height: 300px;
	margin-left: 15px;
	margin-right: 15px;
	padding-bottom: 100px;
	color: #5a5a5a;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 35px;
	text-align: center;

}

.block_h {
	display: block;
	padding-bottom: 20px;
	padding-top: 50px;
	color: #3677fd;
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	line-height: 24px;
	text-transform: uppercase;
	text-align: center;
}

.latest_works {
	margin-bottom: 100px;
}

.clients {
	height: 363px;
	background-color: #f1f8ff;
}

.companies li {
	display: inline-block;
	margin-left: 45px;
	margin-right: 45px;
	vertical-align: middle;
	filter: contrast(1%) brightness(150%);
}

li img :hover {
	transition: 3s;
	filter: contrast(100%) ;/*it doesn`t work :( */
}

footer {
	height: 270px;
	background-color: #3564fc;
	background-image: url("../img//back_2.png");
	background-repeat: no-repeat;
}

footer span {
	margin-top: 96px;
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-size: 50px;
	font-weight: 300;
	line-height: 65px;
	color: #ffffff;

}

.bolder {
	display: inline-block;
	margin-right: 64px;
	font-weight: normal;
}

