.container {
    width: 1170px;
    margin: 0 auto;
    text-align: center;
}

.logo {
    display: block;
    margin: 30px 40px;
    text-align: left;
}

header {
    height: 800px;
    background: url('../img/back1.png');
    background-size: cover;
}

h1 {
    width: 600px;
    height: 90px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
    border-bottom: 2px solid #15a4fa;
    color: #ffffff;
    font: 700 120px/47px 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}

header p {
    padding-top: 40px;
    color: #ffffff;
    font: 400 20px/47px 'Lato', sans-serif;
    letter-spacing: 0.5px;
}

button {
    border-radius: 2px;
    border: 1px solid #15a4fa;
    text-align: center;
    color: #ffffff;
    font: 400 18px/47px 'Lato', sans-serif;
    letter-spacing: 0.45px;
}

header button {
    width: 176px;
    height: 54px;
    margin-top: 65px;
}

button:hover {
    transition: 0.5s;
    background-color: #15a4fa;
}

.arrow {
    display: inline-block;
    margin-top: 180px;
}

.simple {
    height: 340px;
    background-color: #f6f9f9;
}

h2 {
    padding-top: 80px;
    color: #2d3950;
    font: 400 40px/30px 'Lato', sans-serif;
    letter-spacing: 1px;
    text-align: center;
}

.simple p {
    padding-top: 30px;
    padding-bottom: 110px;
    color: #999999;
    font: 400 20px/32px 'Lato', sans-serif;
    letter-spacing: 0.5px;
}

.best_sides {
    height: 340px;
    padding-top: 65px;
}

.side {
    display: inline-block;
    vertical-align: middle;
    width: 345px;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 100px;
    color: #5a5a5a;
    font: 400 16px/35px 'Lato', sans-serif;
    text-align: center;
}

.side figure {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    background-image: linear-gradient(to right, #48baff 50%, #5fc3ff 50%);
}

img {
    display: inline-block;
}

h3 {
    padding-top: 30px;
    color: #2d3950;
    font: 400 22px/32px 'Lato', sans-serif;
    letter-spacing: 0.55px;
}

span {
    display: block;
    margin-top: 20px;
    margin-bottom: 50px;
    color: #999999;
    font: 400 15px/22px 'Lato', sans-serif;
    letter-spacing: 0.38px;
}

.photo_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 1170px;
    padding-bottom: 100px;
    margin: auto;
}

.photo {
    position: relative;
    margin: 15px;
    text-align: center;
}

.photo:hover .photo_hover {
    transition: 0.5s;
    opacity: 0.9;
}

.photo_hover {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    opacity: 0;
    transition: 0.5s;
    background-color: #15a4fa;
}

.button_photo_hover {
    padding: 5px;
}

.button_photo_hover:hover {
    transition: 0.5s;
    opacity: 0.5;
}

.press {
    visibility: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0;
}

.press:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    position: relative;
    width: 1100px;
    height: 500px;
    margin: 70px auto;
    transition: 0.5s;
}

.popup .close {
    position: absolute;
    top: -20px;
    right: 30px;
}

.popup a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url('../img/close_button.png');
}

.popup a:hover {
    transition: 0.5s;
    background-image: url('../img/close_button_hover.png');
}

.form_class {
    height: 700px;
    background: url('../img/back2.png');
    background-size: cover;
    text-align: center;
}

.form_class h2 {
    color: #ffffff;
}

ul {
    list-style-type: none;
    vertical-align: middle;
}

input[type=text], input[type=email], textarea {
    width: 553px;
    height: 60px;
    padding-left: 20px;
    margin-bottom: 20px;
    border-radius: 2px;
    border: 1px solid #999999;
    background-color: rgba(0, 0, 0, 0);
    color: #999999;
    font: 400 15px 'Lato', sans-serif;
    letter-spacing: 0.38px;
}

textarea {
    resize: none;
    width: 550px;
    height: 160px;
    padding-top: 20px;
}

label {
    color: #ffffff;
    font: 400 15px 'Lato', sans-serif;
    letter-spacing: 0.38px;
}

input[type=checkbox] {
    width: 15px;
    height: 15px;
}

.form_button {
    width: 140px;
    height: 45px;
    border-radius: 2px;
}

.form_flex_class {
    width: 590px;
    margin: 0 auto;
    text-align: center;
}

.form_flex_class ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flex_class {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flex_class li {
    display: inline-block;
}

footer span {
    display: inline-block;
}

footer ul {
    display: inline-block;
}

footer a {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.facebook {
    background-image: url('../img/Facebook.png');
}

.twitter {
    background-image: url('../img/Twitter.png');
}

.google {
    background-image: url('../img/Google.png');
}

.linked {
    background-image: url('../img/Linked.png');
}

.facebook:hover {
    transition: 0.5s;
    background-image: url('../img/Facebook_h.png');
}

.twitter:hover {
    transition: 0.5s;
    background-image: url('../img/Twitter_h.png');
}

.google:hover {
    transition: 0.5s;
    background-image: url('../img/Google_h.png');
}

.linked:hover {
    transition: 0.5s;
    background-image: url('../img/Linked_h.png');
}
