@mixin flex_center_position {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin common_btn {
  width: 145px;
  height: 38px;
  background-color: $accent;
  color: $primary;
  font:$button-font;
  border-radius: 20px;
  text-align: center;
  border: none;
  &:hover {
    transition: 0.2s;
    background-color: $secondary;
    cursor: pointer;
  }
}

@mixin news_h4_header($color) {
  color: $color;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
@mixin news_content {
  color: #848e97;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
}

@mixin news_button {
  border: none;
  background-color: #f4f4f4;
  color: #8d81ac;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  &:hover{
    transition: 0.2s;
    background-color: $secondary;
    cursor: pointer;
  }
}
@mixin news_h3_header{
  color: #d3d1da;
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  padding: 35px 0;

}

@mixin line($color) {
  opacity: 0.8;
  margin-bottom: 10px;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid $color;
}

@mixin h2_style($color) {
  text-align: center;
  opacity: 0.8;
  color: $color;
  font: 700 46px/49px 'Asap', sans-serif;
  text-transform: uppercase;
  letter-spacing: 5.52px;
}

$small-font: 400 16px/15px 'Asap', sans-serif;
$middle-font: 500 22px/67px 'Asap', sans-serif;
$big-font:700 48px/60px 'Montserrat',sans-serif;
$input-font: 400 16px/67px 'Asap', sans-serif;
$button-font: 700 16px/15px 'Montserrat',sans-serif;
$tarifs-font:400 24px/20px 'Montserrat',sans-serif;
$price-font:700 60px/90px 'Montserrat',sans-serif;
$insert-font: 400 16px/26px 'Source Sans Pro',sans-serif;
$term-font:400 14px  'Montserrat',sans-serif;
$primary: #ffffff;
$accent: #8d81ac;
$secondary: #635c73;
$backgroung-primary: #f4f4f4;
$small-font-color:#848e97;
$inserts: #323232;
$news-second:#8d81ac;
$nav-color:#333333;
$carousel-col: #474747;
